.md-typeset a {
  color: #14a76c !important;
}
.md-typeset a:hover {
  color: #ff652f !important;
}
.md-header {
  background-color: #272727 !important;
}
.md-tabs {
  background-color: #272727 !important;
}
.md-tabs a:hover {
  color: #14a76c !important;
}
.md-nav__link[data-md-state="blur"] {
}
