.md-typeset a {
  color: #14a76c !important;
}
.md-typeset a:hover {
  color: #ff652f !important;
}
.md-header {
  background-color: #272727 !important;
}
.md-tabs {
  background-color: #272727 !important;
}
.md-tabs a:hover {
  color: #14a76c !important;
}
.md-nav__link[data-md-state="blur"] {
  color: #14a76c;
}
.md-nav__title--site {
  background-color: #272727 !important;
}
.md-nav__source {
  background-color: #272727 !important;
}
.md-tabs__link {
  font-weight: bolder;
}
.md-search__input {
  background-color: rgba(255,255,255,.2);
}
/* a bit wider to have support full console width */
.md-grid {
  max-width: 65rem;
}
.md-sidebar--secondary {
  margin-left: 65rem;
}
/* center */
.md-footer-meta__inner {
  margin: auto;
  width: 35rem;
}
/* cookie consent bar */
.cookieConsent {
    background-color: rgba(27,27,27,0.9);
    color: #ccc;
    line-height: 30px;
    padding: 8px 0 8px 30px;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
    text-align: center;
}
.cookieConsent div {
    display: none;
}
.cookieConsent a.cookieConsentOK {
    background-color: #000000;
    border-radius: 5px;
    padding: 5px 25px;
    cursor: pointer;
}
/* cookie consent bar ends */
